@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/1.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  color: #fff;
  width: 100%;

  a {
    text-decoration: none;
    color: #fff;
  }

  a.active {
    color: rgb(243, 243, 243);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      .order {
        margin-right: 1rem;
      }
    }
  }
}

.main {
  margin: 1rem 0;
  min-height: 50rem;
  padding-bottom: 2rem;
}

.card-actions button {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: #fff;

  a {
    color: #ccc;
  }
}

.map-container {
  width: 100%;
  height: 500px;
}
