body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  color: #fff;
  width: 100%;

  a {
    text-decoration: none;
    color: #fff;
  }

  a.active {
    color: rgb(243, 243, 243);
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      text-align: right;
      flex: 1;

      li {
        display: inline-block;
        margin-left: 2rem;
      }
    }
  }
}

.main {
  margin: 1rem 0;
  min-height: 50rem;
}

.card-actions button {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

.map-container {
  width: 100%;
  height: 500px;
}
